<div id="parshow">
<%= form_for @party do |f| %>

<% if @party.errors.any? %>
    <div id="error_explanation">
        <h2>
            <%= pluralize(@party.errors.count, "error") %> prohibited this article from being saved:
        </h2>
        <ul>
            <% @party.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
        </ul>
    </div>
    <% end %>

<p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
</p>

<p>Select characters to add:</p>
<table class="darkTable">
    <tr>
        <th></th>
        <th>Name</th>
        <th>Race</th>
        <th>Class</th>
    </tr>
    <%= hidden_field_tag "party[character_ids][]", nil %>
    <%= @user.characters.find_each do |character| %>

    <tr>
        <td><%= check_box_tag "party[character_ids][]", character.id, @party.character_ids.include?(character.id), id: dom_id(character) %></td>
        <td><%= label_tag dom_id(character), character.name %></td>
        <td><%= character.race %></td>
        <td><%= character.klass %></td>
    </tr>
    <% end %>
    </table>
    
    <p>
        <%= f.submit %>
    </p>
<% end %>
</div>