<h1>Listing Parties</h1>

<p><center><%= link_to 'New party', new_party_path %></p></center>

<center><table style="width:39%" class="darkTable">
    <tr>
        <th>Name</th>
        <th>Members</th>
        <th colspan="3">Options</th>
    </tr>
    
    <% current_user.parties.each do |party| %>
    <tr>
        <td><%= party.name %></td>
        <td>
            <%= party.characters.find_each do |character| %>
            <%= character.name %>
            <br>
            <% end %>
        </td>
        <td><%= link_to 'Show', party_path(party) %></td>
        <td><%= link_to 'Edit', edit_party_path(party) %></td>
        <td><%= link_to 'Destroy', party_path(party), method: :delete, data: {confirm: 'Are you sure?'} %></td>
        </td>
    </tr>
    <% end %>
</table>
<br>
<%= link_to 'Character List', characters_path %>
</center>