<div id="parshow"><center>
<h1>
    Party Name:
    <%= @party.name %>
</h1>

<p>Party Members:</p>
    <%= @party.characters.find_each do |character| %>
<p>
    <%= character.name %>
</p>

    <% end %></center>
    
<%= link_to 'Party List', parties_path %>
</div>