<h1 class="title">
    RPG Generator
</h1>

<!--
<!--div tag to get style for login-->
<!--
<div class="login">
    <label><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="uname" required>
<!--takes input from the user for username and password
    <label><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>

    <center><a href="welcome/profile"><button>Login</button></a></center>
    <center><a href="welcome/signup"><button>Signup</button></a></center>

</div>
-->

<body>
    <div class="login">
      <% if current_user %>
        Signed in as <strong><%= current_user.name %></strong>
        <%= link_to "Sign out", signout_path, id: "sign_out" %>
      <% else %>
        <%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in" %>
      <% end %>
    <%= yield %>
    </div>

 <center>
     <%= image_tag("Backgrounds/google.png", :size => "50x50", :alt => "logo") %>

<br>
<br>
<%= link_to 'Character List', characters_path %>
<br>
<%= link_to 'Party List', parties_path %>
</center>
  </body>