<<<<<<< HEAD
<<<<<<< HEAD
<h1>Listing characters</h1>
<%= link_to 'New character', new_character_path %>
<table>
    <tr>
        <th>Name</th>
        <th>Race</th>
        <th>Class</th>
    </tr>
    
    <% @characters.each do |article| %>
    <tr>
        <td><%= character.name %></td>
        <td><%= character.race %></td>
        <td><%= character.klass %></td>
        <td><%= link_to 'Show', character_path(character) %></td>
    </tr>
</table>
=======
<!--adding raws and columns to the table-->
<div class="divTable darkTable">
=======
<div class="divTable minimalistBlack">
>>>>>>> frontend
<div class="divTableHeading">
<div class="divTableRow">
<div class="divTableHead">Race</div>
<div class="divTableHead">Class</div>
<div class="divTableHead">Vitality</div>
<div class="divTableHead">Strength</div>
<div class="divTableHead">Agility</div>
<div class="divTableHead">Arcane</div>
<div class="divTableHead">Resistance</div>
<div class="divTableHead">Resistance</div>
</div>
</div>
<div class="divTableBody">
<div class="divTableRow">
<div class="divTableCell">Human</div>
<div class="divTableCell">Wizard</div>
<div class="divTableCell">cell3_1</div>
<div class="divTableCell">cell4_1</div>
<div class="divTableCell">cell5_1</div>
<div class="divTableCell">cell6_1</div>
<div class="divTableCell">cell7_1</div>
<div class="divTableCell">cell8_1</div>
</div>
<div class="divTableRow">
<div class="divTableCell">Orc</div>
<div class="divTableCell">Brawler</div>
<div class="divTableCell">cell3_2</div>
<div class="divTableCell">cell4_2</div>
<div class="divTableCell">cell5_2</div>
<div class="divTableCell">cell6_2</div>
<div class="divTableCell">cell7_2</div>
<div class="divTableCell">cell8_2</div>
</div>
<div class="divTableRow">
<div class="divTableCell">Elf</div>
<div class="divTableCell">Gunslinger</div>
<div class="divTableCell">cell3_3</div>
<div class="divTableCell">cell4_3</div>
<div class="divTableCell">cell5_3</div>
<div class="divTableCell">cell6_3</div>
<div class="divTableCell">cell7_3</div>
<div class="divTableCell">cell8_3</div>
</div>
<div class="divTableRow">
<div class="divTableCell">Undead</div>
<div class="divTableCell">Thief</div>
<div class="divTableCell">cell3_4</div>
<div class="divTableCell">cell4_4</div>
<div class="divTableCell">cell5_4</div>
<div class="divTableCell">cell6_4</div>
<div class="divTableCell">cell7_4</div>
<div class="divTableCell">cell8_4</div>
</div>
<div class="divTableRow">
<div class="divTableCell">Dwarf</div>
<div class="divTableCell">Healer</div>
<div class="divTableCell">cell3_5</div>
<div class="divTableCell">cell4_5</div>
<div class="divTableCell">cell5_5</div>
<div class="divTableCell">cell6_5</div>
<div class="divTableCell">cell7_5</div>
<div class="divTableCell">cell8_5</div>
</div>
</div>
</div>
>>>>>>> 6b9619cccdb4aab9ca9fda1f2b9e8b882ca5a5ac
