<h1>Sign Up Page</h1>

<p>Fill out the information below to get your account created!</p>
<!--getting user input for signup page from the user for i.e. first name, last name username etc -->
<form>
    <label><b>First Name: </b></label>
    <input type="text" placeholder="First Name" name="firstname" required>
    
    <label><b>Last Name: </b></label>
    <input type="text" placeholder="Last Name" name="lastname" required>
    
    <label><b>Username: </b></label>
    <input type="text" placeholder="Username" name="username" required>
    
    <label><b>Password: </b></label>
    <input type="password" placeholder="Password" name="password" required>
    
    <label><b>Email: </b></label>
    <input type="text" placeholder="Email" name="email" required>
    
    <button type="submit" class="signup">Sign Up</button>

</form>