<%= form_for @character do |f| %>
    
    <% if @character.errors.any? %>
    <div id="error_explanation">
        <h2>
            <%= pluralize(@character.errors.count, "error") %> prohibited this article from being saved:
        </h2>
        <ul>
            <% @character.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
        </ul>
    </div>
    <% end %>

<p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
</p>
<!--Type of Race-->
<p>
    <%= f.label :race %>
    <%= f.select(:race, ['Human', 'Elf', 'Orc', 'Undead', 'Dwarf', 'Pixie'], {}, { :class => 'characters' }) %>
</p>
<!--Labels-->
<p>
    <%= f.label :class %>
    <%= f.select(:klass, ['Wizard', 'Brawler', 'Gunslinger', 'Thief', 'Cleric', 'Healer', 'Ranger'], {}, { :class => 'characters' }) %>
</p>
<!--Setting size of number of field-->
<p>
    <%= f.label :Vitality %>
    <%= f.number_field(:vitality, in: 1..10) %>
</p>

<p>
    <%= f.label :Strength %>
    <%= f.number_field(:strength, in: 1..10) %>
</p>

<p>
    <%= f.label :Agility %>
    <%= f.number_field(:agility, in: 1..10) %>
</p>

<p>
    <%= f.label :Arcane %>
    <%= f.number_field(:arcane, in: 1..10) %>
</p>

<p>
    <%= f.label :Resistance %>
    <%= f.number_field(:resistance, in: 1..10) %>
</p>

<p>
    <%= f.label :Stamina %>
    <%= f.number_field(:stamina, in: 1..10) %>
</p>

<p>
    <%= f.submit %>
</p>

<% end %>