<h1>Listing characters</h1>

<p><center><%= link_to 'New character', new_character_path %></center></p>

<table style="height:100%" class="darkTable">
    <!--Table all of the list characters-->
    <tr>
        <th>Name</th>
        <th>Race</th>
        <th>Class</th>
        <th>Vitality</th>
        <th>Strength</th>
        <th>Agility</th>
        <th>Arcane</th>
        <th>Resistance</th>
        <th>Stamina</th>
        <th colspan="3">Options</th>
    </tr>
    
    <% current_user.characters.each do |character| %>
    <tr>
        <td><%= character.name %></td>
        <td><%= character.race %></td>
        <td><%= character.klass %></td>
        <td><%= character.vitality %></td>
        <td><%= character.strength %></td>
        <td><%= character.agility %></td>
        <td><%= character.arcane %></td>
        <td><%= character.resistance %></td>
        <td><%= character.stamina %></td>
        <td><%= link_to 'Show', character_path(character) %></td>
        <td><%= link_to 'Edit', edit_character_path(character) %></td>
        <td><%= link_to 'Destroy', character_path(character), method: :delete, data: {confirm: 'Are you sure?'} %></td>
    </tr>
    <% end %>
</table>

<br>
<center><%= link_to 'Party List', parties_path %></center>
