<!--added character controller-->
<div id="charshow">
<p>
    Name:
    <%= @character.name %>
    <nav id="pic">
    <%= image_tag("Backgrounds/mage.jpg", :alt => "rss feed", size: "275x200") %>
    </nav>
</p>

<p>
    Race:
    <%= @character.race %>
</p>

<p>
    Class:
    <%= @character.klass %>
</p>

<p>
    <strong><u>Stats</u></strong><br>
</p>
<p>
    Vitality:<%= @character.vitality %> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp  Arcane:<%= @character.arcane %><br>
    Strength:<%= @character.strength %> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Resistance:<%= @character.resistance %><br>
    Agility:<%= @character.agility %> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp   Stamina:<%= @character.stamina %><br>
</p>




<center><%= link_to 'Character List', characters_path %></center>
</div>