<h1>RPG Character Customizer</h1>

<p>Hello, and welcome to Gem Bundle's 3155 project, RPG Character Custimization. In this web application, you will be able to create, delete, and view characters. You can even
allocate skill points to upgrade your character and make them stronger!</p>
<!--navagation bar has 3 button for user create, delete, view-->
<div class="nav">
    <!--Buttons for create, delete and view buttons-->
<button type="button">Create</button>
<button type="button">Delete</button>
<button type="button">View</button>
</div>
<!--pulling image form for UI-->
<div>
<img src="warrior.png" alt="warrior" height="42" width="42">
<img src="mage.png" alt="mage" height="42" width="42">
<img src="archer" alt="archer" height="42" width="42">
</div>