// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
    font-size:36pt;
    color:red;
    text-align:center;
}

p {
    font-size:18pt;
    color:black;
    text-align:center;
}

form {
    text-align:center;
}

body{
    background:lightgray;
}

input[type=button], input[type=submit]{
    background-color:red;
    border: 2px solid red;
    font-size:16pt;
    padding:14px 20px;
    margin: 8px 0;
    cursor:pointer;
    border:none;
    color:white;
    width:100%;
}


input[type=button]:hover, input[type=submit]:hover{
    background-color:darkgrey;
    
}

table{
   overflow-y:scroll;
   height:100px;
   display:block;
}