// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
    font-size:36pt;
    color:red;
    text-align:center;
}

p {
    font-size:18pt;
    color:black;
    text-align:center;
}

form {
    text-align:center;
}

body{
    background:lightgray;
}

button{
    background-color:red;
    border: 2px solid red;
    font-size:16pt;
    padding:14px 20px;
    margin: 8px 0;
    cursor:pointer;
    border:none;
    color:white;
    width:100%;
}

input[type=text], input[type=password]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display:inline-block;
    border: 1px solid #ccc;
    box-sizing:border-box;
}

button:hover{
    background-color:darkgrey;
    
}