// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
    font-size:36pt;
    color:red;
    text-align:center;
}

p {
    font-size:18pt;
    color:black;
    text-align:center;
}

form {
    text-align:center;
}

body{
    background:lightgray;
}

button{
    background-color:red;
    border: 2px solid red;
    font-size:16pt;
    padding:16px;
    cursor:pointer;
    border:none;
    width:150px;
    color:white;
    width:32%;
    max-width:300px;
}

button:hover{
    background-color:darkgrey;
    
}

.nav{
    text-align:center;
}