// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// sets the font size color and aligning to center H1
h1 {
    font-size:36pt;
    color:red;
    text-align:center;
}

p {
    font-size:18pt;
    color:white;
    text-align:left;
    padding-left:10px;
}
//sets the form tag in the center
form {
    text-align:center;
}
// sets the background image 
body{
    background-image: url("Backgrounds/ArtoriasBG.jpg");
    background-size: cover;
}
// adding style to the buton 
button{
    background-color:red;
    border: 2px solid red;
    font-size:16pt;
    padding:14px 20px;
    margin: 8px 0;
    cursor:pointer;
    border:none;
    color:white;
    width:100%;
}
// style to input text 
input[type=text], input[type=password]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display:inline-block;
    border: 1px solid #ccc;
    box-sizing:border-box;
}
// changes the background clor of the button when iuser hover on the button 
button:hover{
    background-color:darkgrey;
    
}
// sets the style for table 
table{
   overflow-y:scroll;
   height:100px;
   display:block;
}

#charshow{
    position:absolute;
    left:750px;
    top:100px;
    padding-bottom:25px;
    width:500px;
    border:solid red;
    border-width:5px;
}

#parshow{
    position:absolute;
    left:750px;
    top:150px;
    padding-bottom:25px;
    width:500px;
    border:solid red;
    border-width:5px;
    color:white;
    text-align:center;
}


#partable{
    padding-left:100px;
}

#pic {
    position:relative;
    text-align:center;
}

.login{
    text-align:center;
    color:red;
    font-size:15pt;
}

.loginn{
    text-align:right;
    color:white;
}

.title{
    font-size:60pt;
    color:red;
    text-align:center;
}
